.col{
    margin-top: 20px;
}
.card-title{
    font-weight: bold;
}
input{
    border: gray solid 1px !important;
    /* box-shadow: none; */
}
input:focus{
    box-shadow: none !important;
}
@media only screen and (max-width: 600px) {
    nav > div > *{
        text-align: center;
        width: 100%;
        padding: 20px;
    }
    .card{
        width: 10.75rem !important;
    }
     .card > div{
        margin: 0px !important;
        padding: 5px;
    }

    /*.card img{
     position: absolute; 
        z-index: 1;
        
    } */
  }